/netbeans/JavaApplication4/nbproject/private/
/netbeans/JavaApplication4/build/
/netbeans/JavaLibrary1/nbproject/private/
/JavaApplication5/nbproject/private/
/JavaApplication5/build/
/school management system/nbproject/private/
/student management/nbproject/private/
/student management/build/